
@{
    ViewBag.Title = "Index";
}



<head>
    <meta charset="utf-8">
    <title>Simple Coffee</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="~/img/Logo3.jpg" rel="icon">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="@Url.Content("~/lib/owlcarousel/assets/owl.carousel.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css")" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="@Url.Content("~/css/style.min.css")" rel="stylesheet">
</head>
<style>
    .testimonial-carousel .owl-item img {
        width: 85px;
        height: 125px;
    }
</style>
<body>
    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
        <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand px-lg-4 m-0">
                <h1 class="m-0 display-4 text-uppercase text-white">SCF</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto p-4">
                    <a href="@Url.Action("Index", "Home")" class="nav-item nav-link active">Home</a>
                    <a href="@Url.Action("Index", "About")" class="nav-item nav-link">About</a>
                    <a href="@Url.Action("Index", "Service")" class="nav-item nav-link">Service</a>
                    <a href="@Url.Action("Index", "Menu")" class="nav-item nav-link">Menu</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu text-capitalize">
                            <a href="@Url.Action("Index", "Reservation")" class="dropdown-item">Reservation</a>
                            <a href="@Url.Action("Index", "Testimonial")" class="dropdown-item">Testimonial</a>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "Contact")" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Testimonial</h1>
            <div class="d-inline-flex mb-lg-5">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Testimonial</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h4>
                <h1 class="display-4">Our Clients Say</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid" src="@Url.Content("~/img/khoi1.jpg")" alt="">
                        <div class="ml-3">
                            <h4>Khoi</h4>
                        </div>
                    </div>
                    <p class="m-0">Absolutely, crafting an authentic and compelling description is key. Here's a suggestion: Indulge in the rich simplicity of a cup of our finest black coffee. With every sip, you're transported to a realm where flavor reigns supreme. Our meticulously selected beans, roasted to perfection, unveil a symphony of boldness and depth. The aroma alone, a tantalizing dance of earthy notes and subtle hints of sweetness, awakens the senses and sets the stage for an unparalleled coffee experience. From the first taste to the last lingering finish, each moment savored is a testament to the timeless allure of pure, unadulterated coffee bliss.</p>
                </div>
                <div class="testimonial-item">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid" src="@Url.Content("~/img/thang.jpg")" alt="">
                        <div class="ml-3">
                            <h4>Thang</h4>
                        </div>
                    </div>
                    <p class="m-0">Wow, where do I even begin with this Chocolate Coffee? From the moment I took my first sip, I was transported to a realm of pure delight. The smooth blend of rich chocolate and robust coffee flavors is simply divine. It's like a luxurious treat for my taste buds, a moment of indulgence in every cup. And the aroma... oh, the aroma! It's like a warm hug on a chilly morning, comforting and inviting. I can't help but feel a sense of joy and contentment with each sip. This Chocolate Coffee isn't just a drink; it's an experience, a little slice of happiness in my day. Thank you for creating such a masterpiece—I'll definitely be coming back for more!</p>
                </div>
                <div class="testimonial-item">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid" src="@Url.Content("~/img/dang.jpg")" alt="">
                        <div class="ml-3">
                            <h4>Dang</h4>
                        </div>
                    </div>
                    <p class="m-0">Let me share my experience with Coffee with Milk from this café for the first time. Every sip reveals a perfect balance between the bitter notes of coffee and the creamy texture of milk. The enticing aroma emanating from this cup of coffee made me feel like I was being invited into a serene world. It's not just a beverage to start the day; this Coffee with Milk is also an ideal retreat to enjoy a moment of tranquility amidst the hustle and bustle of life. I'll definitely be back for more!</p>
                </div>

            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Footer Start -->
    <div class="container-fluid footer text-white mt-5 pt-5 px-0 position-relative overlay-top">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Get In Touch</h4>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Xa Trung Lap Ha,Huyen Cu Chi, Thanh Pho Ho Chi Minh</p>
                <p><i class="fa fa-phone-alt mr-2"></i>0375391221</p>
                <p class="m-0"><i class="fa fa-envelope mr-2"></i>007mkhoi@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://www.facebook.com/profile.php?id=100082876573696"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://www.linkedin.com/in/tr%E1%BA%A7n-nguy%E1%BB%85n-minh-kh%C3%B4i-248416306/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square" href="https://instagram.com/tnmk.o/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Open Hours</h4>
                <div>
                    <h6 class="text-white text-uppercase">Monday - Friday</h6>
                    <p>8.00 AM - 8.00 PM</p>
                    <h6 class="text-white text-uppercase">Saturday - Sunday</h6>
                    <p>2.00 PM - 8.00 PM</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Newsletter</h4>
                <div class="w-100">
                    <div class="input-group">
                        <div class="input-group-append">
                            <p>
                                Don't miss out on our exclusive Flash Sale event! For a limited time only, enjoy a fabulous 50% discount on all items storewide.(Only on April 30th to May 1st, 2024
                                )
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center text-white border-top mt-4 py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
            <p class="mb-2 text-white">Copyright &copy; <a class="font-weight-bold" href="#">Domain</a>. All Rights Reserved.</p>
            <p class="m-0 text-white">Designed by <a class="font-weight-bold" href="https://www.facebook.com/profile.php?id=100082876573696">TNMK</a></p>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="@Url.Content("~/lib/easing/easing.min.js")"></script>
    <script src="@Url.Content("~/lib/waypoints/waypoints.min.js")"></script>
    <script src="@Url.Content("~/lib/owlcarousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/lib/tempusdominus/js/moment.min.js")"></script>
    <script src="@Url.Content("~/lib/tempusdominus/js/moment-timezone.min.js")"></script>
    <script src="@Url.Content("~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js")"></script>

    <!-- Contact Javascript File -->
    <script src="@Url.Content("~/mail/jqBootstrapValidation.min.js")"></script>
    <script src="@Url.Content("~/mail/contact.js")"></script>

    <!-- Template Javascript -->
    <script src="@Url.Content("~/js/main.js")"></script>
</body>

